* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0; 
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  background-color: #333;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.navbar-links.active {
  max-height: 200px; /* Adjust the max height as needed */
}

.navbar-links a {
  padding: 15px;
  text-decoration: none;
  color: #fff;
  display: block;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.bar1.bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar2.bar2 {
  opacity: 0;
}

.bar3.bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 500px) {
  .navbar-links {
    position: relative;
    max-height: none;
    overflow: visible;
  }

  .navbar-toggle {
    display: flex;
  }
}


